<form class="form-horizontal" role="form" 
enctype="multipart/form-data" method="POST" action="/octoPrint/file">
<div class="form-group">
   <input type="file" id="upload" name="gcode" />
   <button type="submit" class="btn-btn-primary">Submit</button>
   </div>
</form>